.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  font-size: 2.5rem;
  color: var(--primary-color);
}

header p {
  color: var(--secondary-color);
  font-size: 1.1rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid var(--card-text);
  background-color: var(--secondary-color);
  color: var(--text-color);
  resize: vertical;
  box-sizing: border-box;
  /* Important for padding */
}

textarea:focus {
  outline: none;
  border-color: var(--primary-color);
}

button {
  padding: 12px 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--card-text);
  border: none;
  border-radius: 500px;
  transition: background-color 0.2s ease;
  align-self: center;
}

button:disabled {
  background-color: var(--secondary-color);
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: var(--accent-color);
}

.error-message {
  color: #f16048;
  text-align: center;
  margin-top: 16px;
  font-weight: bold;
}

.playlist-container ul {
  list-style-type: none;
  padding: 0;
}

.track-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: var(--card-bg);
  padding: 10px;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.track-item:hover {
  background-color: var(--secondary-color);
}

.album-art {
  width: 64px;
  height: 64px;
  margin-right: 15px;
  border-radius: 4px;
  object-fit: cover;
}

.track-info {
  flex-grow: 1;
}

.track-name {
  font-weight: bold;
  font-size: 16px;
}

.track-artist {
  color: #b3b3b3;
  font-size: 14px;
}

.spotify-link {
  color: var(--card-text);
  background-color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 500px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  white-space: nowrap;
  transition: background-color 0.2s ease;
}

.spotify-link:hover {
  background-color: var(--accent-color);
}

@media (max-width: 600px) {
  .container {
    padding: 0 16px;
  }
}