/* Theme Variables */
:root {
  --bg-color: #000000;
  --text-color: #ffffff;
  --primary-color: #ff00ff;
  /* neon pink */
  --secondary-color: #8000ff;
  /* neon purple */
  --accent-color: #ff8000;
  /* neon orange */
  --card-bg: rgba(20, 20, 20, 0.8);
  --card-text: #ffffff;
}

/* Global body styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}